.main {
  text-align: center;
  min-height: 100vh;
  display: flex;
  
}

.content{
  padding-top: 8%;
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.gridContainer{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cell{
  background-color: #ffffff;
}

.columnHeaders{
  background-color: #b8b8b8;
  font-size:medium;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 9%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 3%;
  z-index: 50000;
}
.header > h2{
  padding-left: 20px;
}
.logo{
  background-color: #e4e4e4;
  border-radius: 100%;
  width: 70px;
  padding: 12px 1px;
}

.loading{
  margin: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: large;
}

